<?php

namespace src;

class Config
{
    /**
     * Holds the database configs
     */

    public static string $servername = "localhost";
    public static string $username = "root";
    public static string $password = "";
    public static string $dbname = "bookings";
}